/* banner */
.banner {
  overflow: hidden;
  max-width: 100%;
  width: 100%;

  .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
      position: relative;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      position: relative;
      padding: 0 20px;
    }

    .heading2 {
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $black;
      color: $white;
      opacity: 0.4;
    }
  }
}