/* blog */
.blog {
  &_item {
    &.style-two {
      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
      }

      &::before {
        background: linear-gradient(0deg, rgba(23, 28, 56, 0.70) 0%, rgba(23, 28, 56, 0.40) 40.03%, rgba(23, 28, 56, 0.00) 100%);
        opacity: 0;
        transition: opacity .3s ease;
      }
      
      &::after {
        border: 1px solid $outline;
      }

      .blog_info {
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background-color: $white;
          transition: transform .3s ease;
          content: "";
        }
      }

      &:hover {
        &::before {
          opacity: 1;
        }

        .blog_info {
          &::before {
            transform: translateY(100%);
          }
        }
      }

      @include respond-below($screen-lg) {
        &::before {
          opacity: 1;
        }
        
        .blog_info {
          &::before {
            transform: translateY(100%);
          }
        }

        .blog_date,
        .blog_cate,
        .blog_info {
          color: $white;
        }
      }
    }
  }

  &_sidebar {
    .recent_list {
      .blog_item {
        &:last-child {
          border: none;
        }
      }
    }
  }
}