/* calendar */
.calendar {
  position: relative;

  .day {
    &_btn {
      &.disabled {
        background-color: $surface;
        color: $variant2;
        pointer-events: none;
      }
  
      &.selected {
        background-color: rgba($color: $orange, $alpha: 0.1);
      }
    }
  }
  .time_picker {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}