/* cta */
.cta {
    &.style-two {
        background: url(../assets/images/components/cta2.jpg) center / cover no-repeat;
        background-attachment: fixed;
    }
    &.style-three {
        background: url(../assets/images/components/bg_cta3.png) center / cover no-repeat;
        background-attachment: fixed;
        background-color: $dark;
    }
    &.form_request_banner {
        background: url(../assets/images/components/form_request_banner3.png) center / cover no-repeat;
        background-attachment: fixed;
        background-color: $black;
    }
}