/* Slider */ 
.slider {
    .section_tit {
        opacity: 0;

        >span {
            display: inline-block;
            
            span {
                display: inline-block;
                opacity: 0;
                transform: translateY(20px);
                transition: all 0.3s ease;
    
                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .section_tit_two,
    .section_tit_three,
    .section_desc,
    &_btn_item {
        opacity: .0001;
        transform: translateY(40px);
        transition-property: opacity, transform;
        transition-duration: .7s;
        transition-timing-function: ease;
        transition-delay: calc(var(--i) * .1s);
    }

    &.style-three {
        .section_tit_three,
        .section_desc,
        .slider_btn_item  {
            transform: translateX(80px);
        }
    }

    .swiper {
        &-slide-active {
            .section_tit {
                opacity: 1;
            }

            .section_tit_two,
            .section_tit_three,
            .section_desc,
            .slider_btn_item {
                opacity: 1;
                transform: translate(0);
            }
        }

        &-pagination {
            bottom: 28px;
        }
    }
}